$font-principal: "Montserrat-Bold", sans-serif;
$color-principal: #572ee5;
$color-secundario: #50E3C2;
$color-principal-dark: #37383C;
$color-secundario-dark: #9CAFC3;
$color-terciario-dark: #222326;
$blanco: #FFFFFF;
$negro: #000000;

@mixin gifsSquare ($width,$height){
    width: $width;
    height: $height;
    background-color: $color-principal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
  }
  @mixin gifsGifos($minWidth,$minHeight,$bottom) {
    position: relative;
    min-width: $minWidth;
    min-height: $minHeight;
    bottom: $bottom;
    z-index: 10;  
  }
  @mixin removeGifHover(){
    .gifos{
      z-index: 10;
      opacity: 1;
    }
  }  
  @mixin gifHover($z,$opacity) {
    z-index: $z;
    opacity: $opacity;
  }
  @mixin medium-gifs-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
    justify-items: center;
    gap: 29px  
  } 
  @mixin sections-favs-gifos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;  
  }