.crear-gifs {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50px;
  right: 70px;
  #camera-div {
    display: flex;
    position: relative;
    bottom: 80px;
    @media screen and (max-width: 1200px) {
      position: relative;
      left: 70px;
      img:first-child {
        width: 50%;
      }
      img:last-child {
        width: 30%;
      }
    }
    @media screen and (max-width: $media850) {
      display: none;
    }    
  }
  #principal-gifs {
    display: flex;
    flex-direction: column;
    align-items: center;
    #camera-central {
      width: 688px;
      height: 390px;
      border: 1px solid $color-principal;
      display: flex;
      justify-content: center;
      align-items: center;
      video {
        width: 480px;
        height: 320px;
        position: absolute;
        @media screen and (max-width: 500px){
          width: 300px;
          height: auto;
        }
      }
      #subiendo-gifo {
        @include gifsSquare(429px, 320px);
        display: none;
        position: absolute;
        justify-content: center;
        align-items: center;
        >:first-child {
          width: 24px;
          height: 24px;
          z-index: 1;
        }
        p {
          font-weight: bold;
          font-size: 15px;
          color: $blanco;
          z-index: 1;
        }
        > div {
          position: absolute;
        }
        @media screen and (max-width:500px){
          width: 300px;
          height: 225px;
        }
      }
      div {
        h1 {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 25px;
          line-height: 35px;
          span > :last-child {
            color: $color-secundario;
          }
        }
        p {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: $negro;
          font-size: 16px;
          line-height: 29px;
          @media screen and (max-width:500px){
            font-size: 13px;
          }
        }
      }
      @media screen and (max-width: 1100px) {
        width: 530px;
      }
      @media screen and (max-width: $media850) {
        width: 450px;
      }
      @media screen and (max-width: 500px){
        width: 300px;
        height: 300px;
      }
    }
    #camera-elements {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 15px;
      position: relative;
      top: 30px;
      height: 120px;
      #pasos {
        display: flex;
        column-gap: 25px;
        .steps {
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid $color-principal;
          border-radius: 30px;
        }
      }
      #cronometro {
        position: absolute;
        right: 50px;
        top: 5px;
        @media screen and (max-width:650px){
          bottom: 120px;
          right: unset;
          top: unset;
        }
      }
      #separator-misgifos {
        width: 795px;
        height: 7px;
        background-color: $color-principal;
        border-radius: 10px;
        @media screen and (max-width: 1100px) {
          width: 600px;
        }
        @media screen and (max-width:650px){
          width: 225px;
        }
      }
    }
    #camera-elements > :last-child {
      position: absolute;
      left: 100%;
      bottom: 70px;
      @media screen and (max-width: 1200px) {
        width: 100px;
      }
      @media screen and (max-width: $media850) {
        display: none;
      }
    }
  }
  @media screen and(max-width:$media850) {
    right: 0;
  }
  body.dark & {
    #camera-div{
        :first-child{
            content: url("../../assets/camara-modo-noc.svg");
        }
    }
    #principal-gifs{
        #camera-central{        
            border: 1px solid $blanco;        
            div p{
                color: $blanco;        
            }    
        }
        #camera-elements {
            #pasos .steps{
                border: 1px solid $blanco;
            }            
            > :last-child{
                content: url("../../assets/pelicula-modo-noc.svg");
            }
            #separator-misgifos{
              background-color: $blanco;
            }
        }
    }
  }
}
