%icon-facebook-hover{
  content: url("../../assets/icon_facebook_hover.svg");
  body.dark &{
    content: url("../../assets/icon_facebook_noc.svg");
  }
}
%icon-twitter-hover{
  content: url("../../assets/icon-twitter-hover.svg");
  body.dark &{
    content: url("../../assets/icon_twitter_noc.svg");
  }
}
%icon-instagram-hover{
  content: url("../../assets/icon_instagram-hover.svg");
  body.dark &{
    content: url("../../assets/icon_instagram_noc.svg");
  }
}

footer {
  position: relative;
  margin-top: 96px;
  top: 76px;
  display: flex;
  height: 116px;
  justify-content: space-around;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 13px;
  border-bottom: 5px solid $color-principal;
  .icons {
    display: flex;
    gap: 19px;
    .a-icons {
      display: inherit;
      gap: inherit;
    }
    #icon-facebook:hover{
      @extend %icon-facebook-hover;
    }
    #icon-facebook-cg:hover{
      @extend %icon-facebook-hover;
    }
    #icon-twitter:hover{
      @extend %icon-twitter-hover;
    }
    #icon-twitter-cg:hover{
      @extend %icon-twitter-hover;
    }
    #icon-instagram:hover{
      @extend %icon-instagram-hover;
    }
    #icon-instagram-cg:hover{
      @extend %icon-instagram-hover;
    }
  }
  @media screen and(max-width:500px) {
    flex-direction: column;
    .icons {
      flex-direction: inherit;
    }
  }
  body.dark & {
    color: #ffffff;
    border-bottom-color: #000000;
  }
}
