* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat-Bold", sans-serif;
  color: #572ee5;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 5px solid #572ee5;
  padding-top: 18px;
}

header #logo {
  position: relative;
  left: 168px;
}

@media screen and (max-width: 850px) {
  header #logo {
    display: none;
  }
}

header #logo-mobile {
  display: none;
}

@media screen and (max-width: 850px) {
  header #logo-mobile {
    display: block;
    position: relative;
    left: 22px;
  }
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  right: 153px;
}

header .menu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .menu nav ul li {
  margin-left: 16px;
  list-style: none;
}

header .menu nav ul li a {
  font-size: 13px;
  color: #572ee5;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
}

header .menu nav #crear-gifo {
  background: #ffffff;
  border: 1px solid #572ee5;
  border-radius: 30px;
  position: relative;
  left: 53px;
  padding: 13px;
}

@media screen and (max-width: 850px) {
  header .menu nav {
    display: none;
  }
}

header .menu #burger {
  display: none;
}

@media screen and (max-width: 850px) {
  header .menu #burger {
    display: block;
  }
}

@media screen and (max-width: 850px) {
  header .menu {
    right: 14px;
  }
}

.initial {
  position: relative;
  top: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.initial #title-1 #los-1 {
  display: none;
}

@media screen and (max-width: 450px) {
  .initial #title-1 #los-1 {
    display: initial;
  }
}

@media screen and (max-width: 450px) {
  .initial #title-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 25px;
  }
}

.initial #title-2 #los-2 {
  padding-right: 0.4rem;
  font-size: 25px;
}

@media screen and (max-width: 450px) {
  .initial #title-2 #los-2 {
    display: none;
  }
}

.initial #title-2 #gifos-title {
  padding-left: 0.4rem;
  color: #50e3c2;
}

.initial img {
  margin-top: 24px;
}

@media screen and (max-width: 450px) {
  .initial img {
    width: 70%;
  }
}

.initial #search-field {
  border-radius: 50px;
  border: 1px solid #572ee5;
  width: 30%;
  padding: 12px 50px;
  background-image: url("/assets/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 90% center;
}

@media screen and (max-width: 850px) {
  .initial #search-field {
    width: 50%;
  }
}

.initial #search-field:focus {
  border: 2px solid #572ee5;
  outline-width: 0;
}

.initial .paragraphs {
  margin-top: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
}

.initial .paragraphs #subtitle {
  font-family: "Montserrat-Medium";
  font-size: 16px;
  font-weight: normal;
}

@media screen and (max-width: 450px) {
  .initial .paragraphs #subtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.trending {
  position: relative;
  top: 76px;
  margin-top: 95px;
}

.trending .container {
  width: 100%;
  height: 640px;
  background-color: #f3f5f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.trending .container .info {
  text-align: center;
}

.trending .container .info h1 {
  font-size: 25px;
}

.trending .container .info #trending-p {
  position: relative;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  top: 7px;
}

.trending .container #slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.trending .container #slider .arrow-container {
  min-width: 40px;
  min-height: 40px;
  border: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.trending .container #slider .arrow-container img {
  width: 15px;
  height: 15px;
}

.trending .container #slider .arrow-container:active {
  background-color: #572ee5;
}

.trending .container #slider .arrow-container:active img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.trending .container #slider #gifs {
  margin: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 29px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.trending .container #slider #gifs div img:hover {
  opacity: 0.4;
}

.trending .container #slider #gifs .square {
  background-color: #572ee5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 357px;
  height: 275px;
}

.trending .container #slider #gifs .square .card-icons {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
  top: 7px;
  position: relative;
  right: 7px;
}

.trending .container #slider #gifs .square .card-icons .div-icons {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.trending .container #slider #gifs .square .card-icons .div-icons .icono {
  width: 18px;
  height: 16px;
  background: #ffffff;
  cursor: pointer;
  z-index: 1;
}

.trending .container #slider #gifs .square .gifos {
  position: relative;
  bottom: 32px;
  z-index: 10;
}

.trending .container #slider #gifs .square .div-description {
  position: relative;
  bottom: 8rem;
  padding-left: 1rem;
  color: #ffffff;
}

.trending .container #slider #gifs .square .div-description p {
  margin-bottom: 5px;
}

.trending .container #slider #gifs .square:hover .gifos {
  opacity: 0.4;
  z-index: 0;
}

footer {
  position: relative;
  top: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 116px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 13px;
}

footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 19px;
}
/*# sourceMappingURL=style.css.map */