header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 5px solid #572ee5;
  padding-top: 18px;
}

header .header-info .logo {
  position: relative;
  left: 168px;
}

@media screen and (max-width: 850px) {
  header .header-info .logo {
    display: none;
  }
}

header .header-info .logo-mobile {
  display: none;
}

@media screen and (max-width: 850px) {
  header .header-info .logo-mobile {
    display: block;
    position: relative;
    left: 22px;
  }
  body.dark header .header-info .logo-mobile img {
    content: url("/assets/logo-mobile-modo-noct.svg");
  }
}

header .header-info #burger {
  display: none;
}

@media screen and (max-width: 850px) {
  header .header-info #burger {
    display: block;
  }
}

header .header-info .burger-close {
  content: url("/assets/close.svg");
}

@media screen and (max-width: 850px) {
  header .header-info {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  right: 153px;
}

header .menu nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .menu nav ul li {
  margin-left: 16px;
  list-style: none;
}

header .menu nav ul li .no-selected {
  color: #572ee5;
}

@media screen and (max-width: 850px) {
  header .menu nav ul li .no-selected {
    color: #FFFFFF;
  }
}

header .menu nav ul li .active {
  color: #9CAFC3;
}

@media screen and (max-width: 850px) {
  header .menu nav ul li .active {
    color: #FFFFFF;
  }
}

header .menu nav ul li a {
  font-size: 13px;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 850px) {
  header .menu nav ul li a {
    font-size: 15px;
    font-weight: bold;
  }
}

header .menu nav ul li a:hover {
  border-bottom: 2px solid #50E3C2;
}

@media screen and (max-width: 850px) {
  header .menu nav ul li {
    margin-left: 0px;
  }
}

header .menu nav ul li:first-child .active {
  color: #572ee5;
}

@media screen and (max-width: 850px) {
  header .menu nav ul li:first-child .active {
    color: #FFFFFF;
  }
}

@media screen and (max-width: 850px) {
  header .menu nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 127px;
    position: absolute;
    top: 30px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
}

header .menu nav #crear-gifo:hover {
  content: url("/assets/CTA-crear-gifo-hover.svg");
}

header .menu nav .crear-gifo {
  position: relative;
  left: 53px;
  width: 54px;
  height: 54px;
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  header .menu nav {
    position: fixed;
    left: 0;
    top: 80px;
    width: 100%;
    height: 100%;
    background: rgba(87, 46, 229, 0.9);
    z-index: 100;
  }
  body.dark header .menu nav {
    background-color: #000000;
  }
  header .menu nav > :last-child {
    display: none;
  }
}

@media screen and (min-width: 851px) {
  header .menu nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 850px) {
  header .menu {
    position: static;
    margin-right: 14px;
  }
}

body.dark header {
  border-top: 5px solid #000000;
}

body.dark header .header-info {
  background-color: #37383C;
}

body.dark header .header-info #logo {
  content: url("/assets/Logo-modo-noc.svg");
}

body.dark header .header-info #logo-CG {
  content: url("/assets/Logo-modo-noc.svg");
}

body.dark header .header-info > :last-child {
  content: url("/assets/burger-modo-noct.svg");
}

body.dark header .header-info .burger-close {
  content: url("/assets/close-modo-noct.svg");
}

body.dark header .menu nav #crear-gifo {
  content: url("/assets/CTA-crear-gifo-modo-noc.svg");
}

body.dark header .menu nav #crear-gifo:hover {
  content: url("/assets/CTA-crear-gifo-hover-modo-noc.svg");
}

body.dark header .menu nav #crear-gifo-cg {
  cursor: default;
}

body.dark header .menu nav ul li .no-selected {
  color: #FFFFFF;
}

body.dark header .menu nav li:first-child .active {
  color: #FFFFFF;
}

.modal-section {
  /* The Close Button */
}

.modal-section .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-section .modal .modal-container {
  background-color: #fefefe;
  border: 1px solid #888;
  width: 90%;
  margin: 5% auto;
  height: 500px;
  padding: 0 10px;
}

.modal-section .modal .modal-container .modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  padding: 40px;
  /* Could be more or less, depending on screen size */
}

.modal-section .modal .modal-container .modal-content #modalContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-section .modal .modal-container .modal-content #modalContent .modal-gif {
  width: 695px;
  height: 385px;
}

@media screen and (max-width: 900px) {
  .modal-section .modal .modal-container .modal-content #modalContent .modal-gif {
    width: 500px;
  }
}

@media screen and (max-width: 750px) {
  .modal-section .modal .modal-container .modal-content #modalContent .modal-gif {
    width: 318px;
    height: 245px;
  }
}

.modal-section .modal .modal-container .modal-content #modalContent #modalGifDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 22px;
}

.modal-section .modal .modal-container .modal-content #modalContent #modalGifDescription .div-description {
  position: static;
  color: #000000;
  padding-left: 0;
}

.modal-section .modal .modal-container .modal-content #modalContent #modalGifDescription .div-description:first-child {
  font-size: 15px;
}

.modal-section .modal .modal-container .modal-content #modalContent .card-icons-max {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.modal-section .modal .modal-container .modal-content #modalContent .card-icons-max .div-icons {
  border: 1px solid #ccc;
}

.modal-section .modal .modal-container .modal-content #slideLeftModal {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 520px) {
  .modal-section .modal .modal-container .modal-content #slideLeftModal {
    display: none;
  }
}

.modal-section .modal .modal-container .modal-content #slideRightModal {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 520px) {
  .modal-section .modal .modal-container .modal-content #slideRightModal {
    display: none;
  }
}

.modal-section .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-section .close:hover,
.modal-section .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#initial #title-1 #los-1 {
  display: none;
}

@media screen and (max-width: 450px) {
  #initial #title-1 #los-1 {
    display: initial;
  }
}

@media screen and (max-width: 450px) {
  #initial #title-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 25px;
  }
}

#initial #title-2 #los-2 {
  padding-right: 0.4rem;
  font-size: 25px;
}

@media screen and (max-width: 450px) {
  #initial #title-2 #los-2 {
    display: none;
  }
}

#initial #title-2 #gifos-title {
  padding-left: 0.4rem;
  color: #50e3c2;
}

#initial img {
  margin-top: 24px;
}

@media screen and (max-width: 450px) {
  #initial img {
    width: 70%;
  }
}

#initial #search-div {
  width: 551px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 269px;
  background-color: white;
  z-index: 1;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

#initial #search-div #input-close {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

#initial #search-div #input-close #btn-close-search {
  width: 14px;
  height: 14px;
}

#initial #search-div #input-close #search-input {
  width: 80%;
  outline: none;
}

#initial #search-div .search-field {
  border-radius: 50px;
  border: 1px solid #572ee5;
  width: 30%;
  padding: 12px 50px;
  background-image: url("/assets/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 90% center;
}

@media screen and (max-width: 850px) {
  #initial #search-div .search-field {
    width: 50%;
  }
}

#initial #search-div .search-field:focus {
  border: 2px solid #572ee5;
  outline-width: 0;
}

#initial #search-div ul li {
  color: #9CAFC3;
  background: url(/assets/icon-search-mod-noc.svg) no-repeat left top;
  list-style: none;
  padding: 1px 0 1px 30px;
  cursor: pointer;
}

#initial .paragraphs {
  position: relative;
  margin-top: 40px;
  top: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
}

#initial .paragraphs #subtitle {
  font-family: "Montserrat-Medium";
  font-size: 16px;
  font-weight: normal;
}

@media screen and (max-width: 450px) {
  #initial .paragraphs #subtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body.dark #initial #search-div {
  background-color: #37383C;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body.dark #initial #search-div #input-close #search-input {
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  background-color: #37383C;
  border: 1px solid #ffffff;
  color: #ffffff;
  background: url("/assets/icon-search-modo-noct.svg") no-repeat;
  background-position: 90% center;
}

body.dark #initial #search-div #input-close #search-input.search-after-input {
  border: 0;
  border-bottom: 1px solid #9CAFC3;
  background-position: 0% center;
}

#favoritos {
  position: relative;
  top: 50px;
}

#favoritos .favs-header {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  margin-top: 25px;
}

#favoritos #no-favorites img {
  width: 150px;
  height: 150px;
}

#favoritos #no-favorites h2 {
  width: 50%;
  text-align: center;
  font-size: 22px;
  color: #50E3C2;
}

#favoritos #div-mas-favs {
  position: relative;
  top: 78px;
}

#section-mis-gifos {
  position: relative;
  top: 50px;
}

#section-mis-gifos .mis-gifos-header {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  row-gap: 8px;
}

#section-mis-gifos #no-gifos img {
  width: 150px;
  height: 150px;
}

#section-mis-gifos #no-gifos h1 {
  width: 50%;
  text-align: center;
  font-size: 22px;
  color: #50E3C2;
}

#section-mis-gifos #mis-gifos {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(260px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  justify-items: center;
  gap: 29px;
}

#central {
  position: relative;
  top: 181px;
  margin-bottom: 78px;
}

#central #separator {
  width: 338px;
  height: 0.1px;
  border: 1px solid #9cafc3;
  margin: 55px 0 82px 0;
  opacity: 0.5;
}

#central #no-results img {
  width: 150px;
  height: 150px;
}

#central #no-results h2 {
  font-size: 22px;
  font-family: "Montserrat-Bold", sans-serif;
  color: #50E3C2;
  text-align: center;
}

#central #search-results {
  width: 90%;
  position: relative;
  top: 44px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(260px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 29px;
  justify-items: center;
  height: auto;
}

@media screen and (max-width: 950px) {
  #central #search-results {
    -webkit-column-gap: 10px;
            column-gap: 10px;
    row-gap: 29px;
  }
}

@media screen and (max-width: 605px) {
  #central #search-results {
    width: 95%;
    gap: 21px;
    -ms-grid-columns: (minmax(160px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
  #central #search-results .container-search-and-favs {
    width: 160px;
    height: 120px;
  }
  #central #search-results .container-search-and-favs .gifos {
    width: 160px;
    height: 120px;
    min-width: 160px;
    min-height: 120px;
  }
}

#central #div-mas {
  margin-top: 112px;
}

.trending {
  position: relative;
  top: 170px;
  margin-top: 95px;
}

.trending .container {
  width: 100%;
  height: 640px;
  background-color: #f3f5f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.trending .container .info {
  text-align: center;
}

.trending .container .info h1 {
  font-size: 25px;
}

.trending .container .info #trending-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  position: relative;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  top: 7px;
}

@media screen and (max-width: 500px) {
  .trending .container .info #trending-p {
    display: block;
  }
}

.trending .container #slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.trending .container #slider .arrow-container {
  cursor: pointer;
}

.trending .container #slider #slide-left img:hover {
  content: url("/assets/button-slider-left-hover.svg");
}

.trending .container #slider #gifs {
  margin: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 29px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.trending .container #slider #gifs div img:hover {
  opacity: 0.4;
}

.trending .container #slider #gifs .square {
  width: 357px;
  height: 275px;
  background-color: #572ee5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trending .container #slider #gifs .square .gifos {
  position: relative;
  min-width: 357px;
  min-height: 275px;
  bottom: 32px;
  z-index: 10;
}

@media screen and (max-width: 1400px) {
  .trending .container #slider #gifs .square {
    width: 320px;
  }
  .trending .container #slider #gifs .square .gifos {
    min-width: 320px;
  }
}

@media screen and (max-width: 500px) {
  .trending .container #slider #gifs .square {
    width: 300px;
  }
  .trending .container #slider #gifs .square .gifos {
    min-width: 300px;
  }
}

@media screen and (max-width: 400px) {
  .trending .container #slider #gifs .square {
    width: 243px;
    height: 187px;
  }
  .trending .container #slider #gifs .square .gifos {
    min-width: 243px;
    min-height: 187px;
  }
}

.trending .container #slider #gifs .square:hover .gifos {
  z-index: 0;
  opacity: 0.4;
}

@media screen and (max-width: 550px) {
  .trending .container #slider #gifs .square:hover .gifos {
    z-index: 10;
    opacity: 1;
  }
}

@media screen and (max-width: 550px) {
  .trending .container #slider #gifs {
    gap: 19px;
    overflow-x: scroll;
  }
}

.trending .container #slider #slide-right img:hover {
  content: url("/assets/Button-Slider-right-hover.svg");
}

@media screen and (max-width: 550px) {
  .trending .container #slider {
    width: 100%;
  }
  .trending .container #slider #slide-left {
    display: none;
  }
  .trending .container #slider #slide-right {
    display: none;
  }
}

body.dark .trending .container {
  background-color: #222326;
}

body.dark .trending .container .info #trending-p {
  color: #ffffff;
}

body.dark .trending .container #slider #slide-left img {
  content: url("/assets/button-slider-left-md-noct.svg");
}

body.dark .trending .container #slider #slide-left img:hover {
  content: url("/assets/button-slider-left-hover.svg");
  -webkit-filter: grayscale(1) invert(1) brightness(2);
          filter: grayscale(1) invert(1) brightness(2);
}

body.dark .trending .container #slider #slide-right img {
  content: url("/assets/button-slider-right-md-noct.svg");
}

body.dark .trending .container #slider #slide-right img:hover {
  content: url("/assets/Button-Slider-right-hover.svg");
  -webkit-filter: grayscale(1) invert(1) brightness(2);
          filter: grayscale(1) invert(1) brightness(2);
}

footer {
  position: relative;
  margin-top: 96px;
  top: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 116px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 13px;
  border-bottom: 5px solid #572ee5;
}

footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 19px;
}

footer .icons .a-icons {
  display: inherit;
  gap: inherit;
}

@media screen and (max-width: 500px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .icons {
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
  }
}

body.dark footer {
  color: #ffffff;
  border-bottom-color: #000000;
}

.crear-gifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 50px;
  right: 70px;
}

.crear-gifs #camera-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  bottom: 80px;
}

@media screen and (max-width: 1200px) {
  .crear-gifs #camera-div {
    position: relative;
    left: 70px;
  }
  .crear-gifs #camera-div img:first-child {
    width: 50%;
  }
  .crear-gifs #camera-div img:last-child {
    width: 30%;
  }
}

@media screen and (max-width: 850px) {
  .crear-gifs #camera-div {
    display: none;
  }
}

.crear-gifs #principal-gifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crear-gifs #principal-gifs #camera-central {
  width: 688px;
  height: 390px;
  border: 1px solid #572ee5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crear-gifs #principal-gifs #camera-central video {
  width: 480px;
  height: 320px;
  position: absolute;
}

.crear-gifs #principal-gifs #camera-central #subiendo-gifo {
  width: 429px;
  height: 320px;
  background-color: #572ee5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.crear-gifs #principal-gifs #camera-central #subiendo-gifo :first-child {
  z-index: 1;
}

.crear-gifs #principal-gifs #camera-central #subiendo-gifo p {
  font-weight: bold;
  font-size: 15px;
  color: #FFFFFF;
  z-index: 1;
}

.crear-gifs #principal-gifs #camera-central #subiendo-gifo > div {
  position: absolute;
}

.crear-gifs #principal-gifs #camera-central div h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  line-height: 35px;
}

.crear-gifs #principal-gifs #camera-central div h1 span > :last-child {
  color: #50E3C2;
}

.crear-gifs #principal-gifs #camera-central div p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  font-size: 16px;
  line-height: 29px;
}

@media screen and (max-width: 1100px) {
  .crear-gifs #principal-gifs #camera-central {
    width: 530px;
  }
}

@media screen and (max-width: 850px) {
  .crear-gifs #principal-gifs #camera-central {
    width: 450px;
  }
}

.crear-gifs #principal-gifs #camera-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 15px;
  position: relative;
  top: 30px;
}

.crear-gifs #principal-gifs #camera-elements #pasos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
          column-gap: 25px;
}

.crear-gifs #principal-gifs #camera-elements #pasos .steps {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #572ee5;
  border-radius: 30px;
}

.crear-gifs #principal-gifs #camera-elements #cronometro {
  position: absolute;
  right: 50px;
  top: 5px;
}

.crear-gifs #principal-gifs #camera-elements #separator-misgifos {
  width: 795px;
  height: 7px;
  background-color: #572ee5;
  border-radius: 10px;
}

@media screen and (max-width: 1100px) {
  .crear-gifs #principal-gifs #camera-elements #separator-misgifos {
    width: 600px;
  }
}

.crear-gifs #principal-gifs #camera-elements > :last-child {
  position: absolute;
  left: 100%;
  bottom: 70px;
}

@media screen and (max-width: 1200px) {
  .crear-gifs #principal-gifs #camera-elements > :last-child {
    width: 100px;
  }
}

@media screen and (max-width: 850px) {
  .crear-gifs #principal-gifs #camera-elements > :last-child {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .crear-gifs {
    right: 0;
  }
}

body.dark .crear-gifs #camera-div :first-child {
  content: url("/assets/camara-modo-noc.svg");
}

body.dark .crear-gifs #principal-gifs #camera-central {
  border: 1px solid #FFFFFF;
}

body.dark .crear-gifs #principal-gifs #camera-central div p {
  color: #FFFFFF;
}

body.dark .crear-gifs #principal-gifs #camera-elements #pasos .steps {
  border: 1px solid #FFFFFF;
}

body.dark .crear-gifs #principal-gifs #camera-elements > :last-child {
  content: url("/assets/pelicula-modo-noc.svg");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat-Bold", sans-serif;
  color: #572ee5;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body.dark {
  background-color: #37383C;
  color: #ffffff;
}

.initial {
  position: relative;
  top: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-mas {
  width: 127px;
  height: 50px;
  border: 1px solid #572ee5;
  border-radius: 25px;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 13px;
  color: #572ee5;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

body.dark .btn-mas {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.btn-mas:hover {
  background-color: #572ee5;
  color: #ffffff;
}

body.dark .btn-mas:hover {
  background-color: #FFFFFF;
  color: #000000;
}

.search-after-div {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid;
  border-radius: 31px;
  height: 185px;
  padding-top: 5px;
}

.search-after-input {
  border-right: 0;
  border-bottom: 1px solid #9CAFC3;
  border-top: 0;
  border-left: 0;
  padding: 12px 38px;
  background-image: url(/assets/icon-search-mod-noc.svg);
  background-repeat: no-repeat;
  background-position: 0% center;
}

.search-after-ul {
  -ms-flex-item-align: start;
      align-self: flex-start;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  left: 20px;
}

.central {
  display: none;
}

.show-div-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-close-search {
  display: block;
  position: relative;
  right: 50px;
  bottom: 12px;
}

.none {
  display: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.div-description {
  position: relative;
  bottom: 8rem;
  padding-left: 1rem;
  color: #ffffff;
}

.div-description p {
  margin-bottom: 5px;
}

.div-icons {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  cursor: pointer;
}

.div-icons .icono {
  width: 85%;
  background: #ffffff;
  z-index: 1;
}

.card-icons {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
  top: 7px;
  position: relative;
  right: 7px;
}

.no-results {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  position: relative;
  top: 70px;
  gap: 29px;
}

.no-favorites {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  position: relative;
  justify-items: center;
  top: 90px;
}

.favorites {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(260px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  justify-items: center;
  gap: 29px;
}

.favs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}

.section-misgifos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}

.no-gifos {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  position: relative;
  justify-items: center;
  top: 90px;
}

.step-active {
  background-color: #572ee5;
  color: #FFFFFF;
}

body.dark .step-active {
  background-color: #FFFFFF;
  color: #000000;
}

.repeat-capture {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 13px;
  border-bottom: 1px solid #50E3C2;
}

.container-search-and-favs {
  width: 260px;
  height: 200px;
  background-color: #572ee5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-search-and-favs .gifos {
  width: 260px;
  height: 200px;
  position: relative;
  min-width: 260px;
  min-height: 200px;
  bottom: 32px;
  z-index: 10;
}

.container-search-and-favs:hover .gifos {
  z-index: 0;
  opacity: 0.4;
}

@media screen and (max-width: 605px) {
  .container-search-and-favs:hover .gifos {
    z-index: 10;
    opacity: 1;
  }
}

.camera-window-content {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.camera-hover {
  z-index: 1;
  opacity: 0.4;
}
/*# sourceMappingURL=style.css.map */