@import "../partials/variables";
@import "../partials/header";
@import "../partials/modal";
@import "../partials/initial";
@import "../partials/favoritos";
@import "../partials/mis-gifos";
@import "../partials/central";
@import "../partials/trending";
@import "../partials/footer";

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: $font-principal;
  color: $color-principal;
  transition: 0.3s ease all;
  &.dark {
    background-color: $color-principal-dark;
    color: #ffffff;
  }
}
.initial {
  position: relative;
  top: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-mas {
  width: 127px;
  height: 50px;
  border: 1px solid $color-principal;
  border-radius: 25px;
  font-family: $font-principal;
  font-size: 13px;
  color: $color-principal;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.btn-mas:hover {
  background-color: $color-principal;
  color: #ffffff;
}
.search-after-div {
  justify-content: start;
  align-items: center;
  flex-direction: column;
  border: 1px solid;
  border-radius: 31px;
  height: 185px;
  padding-top: 5px;
}
.search-after-input {
  border-right: 0;
  border-bottom: 1px solid $color-secundario-dark;
  border-top: 0;
  border-left: 0;
  padding: 12px 38px;
  background-image: url(/assets/icon-search-mod-noc.svg);
  background-repeat: no-repeat;
  background-position: 0% center;
}
.search-after-ul {
  align-self: flex-start;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  left: 20px;
}
.central {
  display: none;
}
.show-div-results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-close-search {
  display: block;
  position: relative;
  right: 50px;
  bottom: 12px;
}
.none {
  display: none;
}
.div-description {
  position: relative;
  bottom: 8rem;
  padding-left: 1rem;
  color: #ffffff;
  p {
    margin-bottom: 5px;
  }
}
.div-icons {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
  .icono {
    width: 85%;
    background: #ffffff;
    z-index: 1;
  }
}
.card-icons {
  align-self: flex-end;
  display: flex;
  gap: 7px;
  top: 7px;
  position: relative;
  right: 7px;
}
.arrow-container {
  cursor: pointer;
}
.arrow-container:active {
  // img:first-child{
  //   display: none;
  // }
  // img:last-child{
  //   display: block;
  // }
}
.arrow-container:hover {
  opacity: 0.5;
  min-width: 43px;
  min-height: 43px;
}
.no-results {
  display: grid;
  justify-items: center;
  position: relative;
  top: 70px;
  gap: 29px;
}
.no-favorites {
  display: grid;
  gap: 20px;
  position: relative;
  justify-items: center;
  top: 90px;
}
.favorites {
  @include medium-gifs-container();
}
.favs {
  @include sections-favs-gifos();
}
.section-misgifos {
  @include sections-favs-gifos();
}
.no-gifos {
  display: grid;
  gap: 20px;
  position: relative;
  justify-items: center;
  top: 90px;
}
.active {
  color: $color-secundario-dark;
}
.step-active {
  background-color: $color-principal;
  color: #ffffff;
}
.repeat-capture {
  font-family: $font-principal;
  font-size: 13px;
  border-bottom: 1px solid $color-secundario;
}
.container-search-and-favs {
  @include gifsSquare(260px, 200px);
  .gifos {
    width: 260px;
    height: 200px;
    @include gifsGifos(260px, 200px, 32px);
  }
}
.container-search-and-favs:hover {
  .gifos {
    @include gifHover(0, 0.4);
  }
  @media screen and (max-width: 605px) {
    @include removeGifHover();
  }
}
.camera-window-content {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.camera-hover {
  @include gifHover(1, 0.4);
}
.crear-gifs {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50px;
  right: 70px;
  #camera-div {
    display: flex;
    position: relative;
    bottom: 80px;
    @media screen and (max-width: 1200px) {
      position: relative;
      left: 70px;
      img:first-child {
        width: 50%;
      }
      img:last-child {
        width: 30%;
      }
    }
    @media screen and (max-width: 850px) {
      display: none;
    }
  }
  #principal-gifs {
    display: flex;
    flex-direction: column;
    align-items: center;
    #camera-central {
      width: 688px;
      height: 390px;
      border: 1px solid $color-principal;
      display: flex;
      justify-content: center;
      align-items: center;
      video {
        width: 480px;
        height: 320px;
        position: absolute;
      }
      #subiendo-gifo {
        @include gifsSquare(429px, 320px);
        display: none;
        position: absolute;
        justify-content: center;
        :first-child {
          z-index: 1;
        }
        p {
          font-weight: bold;
          font-size: 15px;
          color: #ffffff;
          z-index: 1;
        }
        > div {
          position: absolute;
        }
      }
      div {
        h1 {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 25px;
          line-height: 35px;
          span > :last-child {
            color: $color-secundario;
          }
        }
        p {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: #000000;
          font-size: 16px;
          line-height: 29px;
        }
      }
      @media screen and (max-width: 1100px) {
        width: 530px;
      }
      @media screen and (max-width: 850px) {
        width: 450px;
      }
    }
    #camera-elements {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 15px;
      position: relative;
      top: 30px;
      #pasos {
        display: flex;
        column-gap: 25px;
        .steps {
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid $color-principal;
          border-radius: 30px;
        }
      }
      #cronometro {
        position: absolute;
        right: 50px;
        top: 5px;
      }
      #separator-misgifos {
        width: 795px;
        height: 7px;
        background-color: $color-principal;
        border-radius: 10px;
        @media screen and (max-width: 1100px) {
          width: 600px;
        }
      }
    }
    #camera-elements > :last-child {
      position: absolute;
      left: 100%;
      bottom: 70px;
      @media screen and (max-width: 1200px) {
        width: 100px;
      }
      @media screen and (max-width: 850px) {
        display: none;
      }
    }
  }
  @media screen and(max-width:850px) {
    right: 0;
  }
}
