.modal-section .modal .modal-container .modal-content #slide-left-modal:hover :first-child, .modal-section .modal .modal-container .modal-content #slide-right-modal:hover :first-child, .trending .container #slider #slide-left:hover :first-child, .trending .container #slider #slide-right:hover :first-child {
  display: none;
}

.modal-section .modal .modal-container .modal-content #slide-left-modal:hover :nth-child(2), .modal-section .modal .modal-container .modal-content #slide-right-modal:hover :nth-child(2), .trending .container #slider #slide-left:hover :nth-child(2), .trending .container #slider #slide-right:hover :nth-child(2) {
  display: block;
}

body.dark .modal-section .modal-container .modal-content #slide-left-modal :first-child, body.dark .trending .container #slider #slide-left :first-child, body.dark .modal-section .modal-container .modal-content #slide-right-modal :first-child, body.dark .trending .container #slider #slide-right :first-child {
  display: none;
}

body.dark .modal-section .modal-container .modal-content #slide-left-modal :nth-child(2), body.dark .trending .container #slider #slide-left :nth-child(2), body.dark .modal-section .modal-container .modal-content #slide-right-modal :nth-child(2), body.dark .trending .container #slider #slide-right :nth-child(2) {
  display: none;
}

body.dark .modal-section .modal-container .modal-content #slide-left-modal :last-child, body.dark .trending .container #slider #slide-left :last-child, body.dark .modal-section .modal-container .modal-content #slide-right-modal :last-child, body.dark .trending .container #slider #slide-right :last-child {
  display: block;
}

body.dark .modal-section .modal-container .modal-content #slide-left-modal img:hover, body.dark .trending .container #slider #slide-left img:hover {
  content: url("../assets/button-slider-left-hover.svg");
  -webkit-filter: grayscale(1) invert(1) brightness(2);
          filter: grayscale(1) invert(1) brightness(2);
}

body.dark .modal-section .modal-container .modal-content #slide-right-modal img:hover, body.dark .trending .container #slider #slide-right img:hover {
  content: url("../assets/Button-Slider-right-hover.svg");
  -webkit-filter: grayscale(1) invert(1) brightness(2);
          filter: grayscale(1) invert(1) brightness(2);
}

.card-icons, .card-icons-cg {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
  top: 7px;
  position: relative;
  right: 7px;
}

.card-icons img, .card-icons-cg img {
  opacity: 0.7;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat-Bold", sans-serif;
  color: #572ee5;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body.dark {
  background-color: #37383c;
  color: #ffffff;
}

.arrow-container {
  cursor: pointer;
}

.fixed {
  position: fixed;
  -webkit-transition: position 700ms ease;
  transition: position 700ms ease;
}

.block {
  display: block;
}

.initial {
  position: relative;
  top: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-mas {
  width: 127px;
  height: 50px;
  border: 1px solid #572ee5;
  border-radius: 25px;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 13px;
  color: #572ee5;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

body.dark .btn-mas {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.btn-mas:hover {
  background-color: #572ee5;
  color: #ffffff;
}

body.dark .btn-mas:hover {
  background-color: #ffffff;
  color: #000000;
}

.search-after-div {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid;
  border-radius: 31px;
  height: 185px;
  padding-top: 5px;
}

.search-after-input {
  border-right: 0;
  border-bottom: 1px solid #9cafc3;
  border-top: 0;
  border-left: 0;
  padding: 12px 38px;
  background-image: url("../assets/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0% center;
}

.search-after-ul {
  -ms-flex-item-align: start;
      align-self: flex-start;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  left: 20px;
}

.central {
  display: none;
}

.show-div-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-close-search {
  display: block;
  position: relative;
  right: 50px;
  bottom: 12px;
}

.none {
  display: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.div-description {
  position: relative;
  bottom: 8rem;
  padding-left: 1rem;
  color: #ffffff;
}

.div-description p {
  margin-bottom: 5px;
}

.div-icons {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  cursor: pointer;
}

.div-icons .icono {
  width: 85%;
  background: #ffffff;
  z-index: 1;
}

.card-icons > :first-child:hover {
  content: url("../assets/icon-fav-hover.svg");
}

.card-icons > :nth-child(2):hover {
  content: url("../assets/icon-download-hover.svg");
}

.card-icons > :last-child:hover {
  content: url("../assets/icon-max-hover.svg");
}

.card-icons-cg > :first-child:hover {
  content: url("../assets/icon-download-hover.svg");
}

.card-icons-cg > :last-child:hover {
  content: url("../assets/icon-link-hover.svg");
}

.favorite-added > :first-child {
  background: url("../assets/icon-fav-active.svg") no-repeat white center;
}

.favorite-added > :first-child img {
  display: none;
}

.favorite-added > :first-child:hover {
  background: url("../assets/icon-fav-active.svg") no-repeat white center;
  content: none;
}

.delete-gif > :first-child:hover {
  background: url("../assets/icon-trash-hover.svg");
  content: none;
}

.no-results {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  position: relative;
  top: 70px;
  gap: 29px;
}

.no-favorites {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  position: relative;
  justify-items: center;
  top: 90px;
}

.favorites {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(260px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  justify-items: center;
  gap: 29px;
}

.favs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}

.section-misgifos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}

.no-gifos {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  position: relative;
  justify-items: center;
  top: 90px;
}

.step-active {
  background-color: #572ee5;
  color: #ffffff;
}

body.dark .step-active {
  background-color: #ffffff;
  color: #000000;
}

.repeat-capture {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 13px;
  border-bottom: 1px solid #50e3c2;
}

.container-search-and-favs {
  width: 260px;
  height: 200px;
  background-color: #572ee5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-search-and-favs .gifos {
  width: 260px;
  height: 200px;
  position: relative;
  min-width: 260px;
  min-height: 200px;
  bottom: 32px;
  z-index: 10;
}

.container-search-and-favs:hover .gifos {
  z-index: 0;
  opacity: 0.4;
}

@media screen and (max-width: 605px) {
  .container-search-and-favs:hover .gifos {
    z-index: 10;
    opacity: 1;
  }
}

.camera-window-content {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.camera-hover {
  z-index: 1;
  opacity: 0.4;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 5px solid #572ee5;
  padding-top: 18px;
}

header .header-info .logo {
  position: relative;
  left: 168px;
}

@media screen and (max-width: 850px) {
  header .header-info .logo {
    display: none;
  }
}

header .header-info .logo-mobile {
  display: none;
}

@media screen and (max-width: 850px) {
  header .header-info .logo-mobile {
    display: block;
    position: relative;
    left: 22px;
  }
  body.dark header .header-info .logo-mobile {
    display: none;
  }
}

header .header-info #logo-mobile-dm {
  display: none;
}

@media screen and (max-width: 850px) {
  body.dark header .header-info #logo-mobile-dm {
    display: block;
  }
}

header .header-info .burger-normal {
  display: none;
}

@media screen and (max-width: 850px) {
  header .header-info .burger-normal {
    display: block;
  }
  body.dark header .header-info .burger-normal {
    display: none;
  }
}

header .header-info .burger-dm {
  display: none;
}

@media screen and (max-width: 850px) {
  body.dark header .header-info .burger-dm {
    display: block;
  }
}

header .header-info .burger {
  width: 15px;
  height: 15px;
  position: relative;
  top: 10px;
  right: 14px;
}

@media screen and (max-width: 850px) {
  header .header-info {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #ffffff;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top: 5px solid #572ee5;
    padding-top: 18px;
    z-index: 100;
  }
  body.dark header .header-info {
    border-top: 5px solid #000000;
  }
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  right: 153px;
}

header .menu .open-hamburger-menu {
  height: 100%;
}

header .menu nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .menu nav ul li {
  margin-left: 16px;
  list-style: none;
}

header .menu nav ul li .no-selected {
  color: #572ee5;
}

@media screen and (max-width: 850px) {
  header .menu nav ul li .no-selected {
    color: #ffffff;
  }
}

header .menu nav ul li .active {
  color: #9cafc3;
}

@media screen and (max-width: 850px) {
  header .menu nav ul li .active {
    color: #ffffff;
  }
}

header .menu nav ul li a {
  font-size: 13px;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 850px) {
  header .menu nav ul li a {
    font-size: 15px;
    font-weight: bold;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 850px) {
  header .menu nav ul li a::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 41px;
    top: 28px;
    border-bottom: 1px solid #ffffff;
    opacity: 0.7;
  }
}

header .menu nav ul li a:hover {
  border-bottom: 2px solid #50e3c2;
}

@media screen and (max-width: 850px) {
  header .menu nav ul li a:hover {
    border-bottom: 0;
  }
  header .menu nav ul li a:hover::after {
    border-bottom: 2px solid #50e3c2;
  }
}

@media screen and (max-width: 850px) {
  header .menu nav ul li {
    margin-left: 0px;
  }
}

header .menu nav ul li:first-child .active {
  color: #572ee5;
}

@media screen and (max-width: 850px) {
  header .menu nav ul li:first-child .active {
    color: #ffffff;
  }
}

@media screen and (max-width: 850px) {
  header .menu nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 127px;
    position: absolute;
    top: 30px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
}

header .menu nav #cg-diurno:hover #crear-gifo {
  display: none;
}

header .menu nav #cg-diurno:hover #crear-gifo-h {
  display: block;
}

header .menu nav .crear-gifo {
  position: relative;
  left: 53px;
  width: 54px;
  height: 54px;
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  header .menu nav #crear-gifo-cg {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  header .menu nav {
    position: fixed;
    left: 0;
    top: 80px;
    width: 100%;
    height: 0;
    overflow: hidden;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    background: rgba(87, 46, 229, 0.9);
    z-index: 100;
  }
  body.dark header .menu nav {
    background-color: #000000;
  }
  header .menu nav #cg-diurno {
    display: none;
  }
}

@media screen and (min-width: 851px) {
  header .menu nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

body.dark header .header-info {
  background: transparent;
}

body.dark header .header-info #logo {
  display: none;
}

body.dark header .header-info #logo-dm {
  display: block;
}

@media screen and (max-width: 850px) {
  body.dark header .header-info #logo-dm {
    display: none;
  }
}

body.dark header .header-info #logo-mobile {
  display: none;
}

body.dark header .menu nav #cg-diurno {
  display: none;
}

body.dark header .menu nav #cg-nocturno {
  display: block;
}

body.dark header .menu nav #cg-nocturno #crear-gifo-dm {
  display: block;
}

@media screen and (max-width: 850px) {
  body.dark header .menu nav #cg-nocturno {
    display: none;
  }
}

body.dark header .menu nav #cg-nocturno:hover #crear-gifo-dm {
  display: none;
}

body.dark header .menu nav #cg-nocturno:hover #crear-gifo-dmh {
  display: block;
}

body.dark header .menu nav > :last-child:hover #crear-gifo-dm:hover {
  display: none;
}

body.dark header .menu nav > :last-child:hover #crear-gifo-h {
  display: none;
}

body.dark header .menu nav #crear-gifo-cg {
  cursor: default;
}

body.dark header .menu nav ul li .no-selected {
  color: #ffffff;
}

body.dark header .menu nav li:first-child .active {
  color: #ffffff;
}

@media screen and (min-width: 851px) {
  body.dark header {
    border-top: 5px solid #000000;
  }
}

@media screen and (max-width: 850px) {
  header {
    border-top: 0;
    padding-top: 0;
  }
  header #comodin {
    position: relative;
    width: 100%;
    padding-top: 23px;
    height: 53px;
  }
}

.modal-section .modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-section .modal .modal-container {
  background-color: #fefefe;
  border: 1px solid #888;
  width: 90%;
  margin: 5% auto;
  height: 500px;
  padding: 0 10px;
}

.modal-section .modal .modal-container .modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  padding: 40px;
}

.modal-section .modal .modal-container .modal-content #modalContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-section .modal .modal-container .modal-content #modalContent .modal-gif {
  width: 695px;
  height: 385px;
}

@media screen and (max-width: 950px) {
  .modal-section .modal .modal-container .modal-content #modalContent .modal-gif {
    width: 500px;
  }
}

@media screen and (max-width: 750px) {
  .modal-section .modal .modal-container .modal-content #modalContent .modal-gif {
    width: 318px;
    height: 245px;
  }
}

@media screen and (max-width: 410px) {
  .modal-section .modal .modal-container .modal-content #modalContent .modal-gif {
    width: 225px;
    height: 225px;
  }
}

.modal-section .modal .modal-container .modal-content #modalContent #modalGifDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 22px;
}

.modal-section .modal .modal-container .modal-content #modalContent #modalGifDescription .div-description {
  position: static;
  color: #000000;
  padding-left: 0;
}

.modal-section .modal .modal-container .modal-content #modalContent #modalGifDescription .div-description:first-child {
  font-size: 15px;
}

@media screen and (max-width: 750px) {
  .modal-section .modal .modal-container .modal-content #modalContent #modalGifDescription .div-description:first-child {
    font-size: 12px;
  }
}

.modal-section .modal .modal-container .modal-content #modalContent #modalGifDescription .card-icons-max {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.modal-section .modal .modal-container .modal-content #modalContent #modalGifDescription .card-icons-max .div-icons {
  border: 1px solid #ccc;
}

@media screen and (max-width: 750px) {
  .modal-section .modal .modal-container .modal-content #modalContent #modalGifDescription .card-icons-max .div-icons {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 750px) {
  .modal-section .modal .modal-container .modal-content #modalContent #modalGifDescription {
    width: 318px;
  }
}

@media screen and (max-width: 410px) {
  .modal-section .modal .modal-container .modal-content #modalContent #modalGifDescription {
    width: 225px;
  }
}

@media screen and (max-width: 750px) {
  .modal-section .modal .modal-container .modal-content #modalContent {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.modal-section .modal .modal-container .modal-content #slide-left-modal {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 520px) {
  .modal-section .modal .modal-container .modal-content #slide-left-modal {
    display: none;
  }
}

.modal-section .modal .modal-container .modal-content #slide-right-modal {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 520px) {
  .modal-section .modal .modal-container .modal-content #slide-right-modal {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .modal-section .modal .modal-container {
    height: 400px;
  }
}

.modal-section .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-section .close:hover,
.modal-section .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

body.dark .modal-section .modal-container {
  background-color: #222326;
}

body.dark .modal-section .modal-container .modal-content #slide-left-modal:hover :nth-child(2) {
  display: none;
}

body.dark .modal-section .modal-container .modal-content #modalContent p {
  color: #ffffff;
}

body.dark .modal-section .modal-container .modal-content #slide-right-modal:hover :nth-child(2) {
  display: none;
}

#initial #title-1 #los-1 {
  display: none;
}

@media screen and (max-width: 580px) {
  #initial #title-1 #los-1 {
    display: initial;
  }
}

@media screen and (max-width: 580px) {
  #initial #title-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 25px;
  }
}

#initial #title-2 #los-2 {
  padding-right: 0.4rem;
  font-size: 25px;
}

@media screen and (max-width: 580px) {
  #initial #title-2 #los-2 {
    display: none;
  }
}

#initial #title-2 #gifos-title {
  padding-left: 0.4rem;
  color: #50e3c2;
}

#initial img {
  margin-top: 24px;
}

@media screen and (max-width: 580px) {
  #initial img {
    width: 300px;
    height: 200px;
  }
}

@media screen and (max-width: 410px) {
  #initial img {
    width: 273px;
    height: 187px;
  }
}

#initial #search-div {
  width: 551px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 269px;
  background-color: white;
  z-index: 1;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

#initial #search-div #input-close {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

#initial #search-div #input-close #btn-close-search {
  width: 14px;
  height: 14px;
}

#initial #search-div #input-close #btn-close-search-dm {
  width: 14px;
  height: 14px;
}

#initial #search-div #input-close #search-input {
  width: 80%;
  outline: none;
}

@media screen and (max-width: 580px) {
  #initial #search-div #input-close #search-input {
    margin: 0 auto;
    width: 65%;
  }
}

@media screen and (max-width: 410px) {
  #initial #search-div #input-close #search-input {
    width: 50%;
  }
}

#initial #search-div .search-field {
  border-radius: 50px;
  border: 1px solid #572ee5;
  width: 30%;
  padding: 12px 50px;
  background-image: url("../assets/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 90% center;
}

@media screen and (max-width: 850px) {
  #initial #search-div .search-field {
    width: 50%;
  }
}

#initial #search-div .search-field:focus {
  border: 2px solid #572ee5;
  outline-width: 0;
}

#initial #search-div ul li {
  color: #9cafc3;
  background: url("../assets/icon-search.svg") no-repeat left top;
  list-style: none;
  padding: 1px 0 1px 30px;
  cursor: pointer;
}

@media screen and (max-width: 580px) {
  #initial #search-div {
    width: 80%;
  }
}

#initial .paragraphs {
  position: relative;
  margin-top: 40px;
  top: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
}

#initial .paragraphs #subtitle {
  font-family: "Montserrat-Medium";
  font-size: 16px;
  font-weight: normal;
}

@media screen and (max-width: 580px) {
  #initial .paragraphs #subtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body.dark #initial #search-div {
  background-color: #37383c;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

body.dark #initial #search-div #input-close #search-input {
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  background-color: #37383c;
  border: 1px solid #ffffff;
  color: #ffffff;
  background: url("../assets/icon-search-modo-noct.svg") no-repeat;
  background-position: 90% center;
}

body.dark #initial #search-div #input-close #search-input.search-after-input {
  border: 0;
  border-bottom: 1px solid #9cafc3;
  background-position: 0% center;
}

body.dark #initial #search-div ul li {
  background: url("../assets/icon-search-mod-noc.svg") no-repeat left top;
}

#favoritos {
  position: relative;
  top: 50px;
}

#favoritos .favs-header {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  margin-top: 25px;
}

#favoritos #no-favorites img {
  width: 150px;
  height: 150px;
}

#favoritos #no-favorites h2 {
  width: 50%;
  text-align: center;
  font-size: 22px;
  color: #50e3c2;
}

#favoritos #div-mas-favs {
  position: relative;
  top: 78px;
}

#section-mis-gifos {
  position: relative;
  top: 50px;
}

#section-mis-gifos .mis-gifos-header {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  row-gap: 8px;
}

#section-mis-gifos #no-gifos img {
  width: 150px;
  height: 150px;
}

#section-mis-gifos #no-gifos h1 {
  width: 50%;
  text-align: center;
  font-size: 22px;
  color: #50e3c2;
}

#section-mis-gifos #mis-gifos {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(260px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  justify-items: center;
  gap: 29px;
}

#central {
  position: relative;
  top: 181px;
  margin-bottom: 78px;
}

#central #separator {
  width: 338px;
  height: 0.1px;
  border: 1px solid #9cafc3;
  margin: 55px 0 82px 0;
  opacity: 0.5;
}

@media screen and (max-width: 580px) {
  #central #separator {
    width: 157px;
  }
}

#central #no-results img {
  width: 150px;
  height: 150px;
}

#central #no-results h2 {
  font-size: 22px;
  font-family: "Montserrat-Bold", sans-serif;
  color: #50e3c2;
  text-align: center;
}

#central #search-results {
  width: 90%;
  position: relative;
  top: 44px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(260px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 29px;
  justify-items: center;
  height: auto;
}

@media screen and (max-width: 950px) {
  #central #search-results {
    -webkit-column-gap: 10px;
            column-gap: 10px;
    row-gap: 29px;
  }
}

@media screen and (max-width: 605px) {
  #central #search-results {
    width: 95%;
    gap: 21px;
    -ms-grid-columns: (minmax(160px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
  #central #search-results .container-search-and-favs {
    width: 160px;
    height: 120px;
  }
  #central #search-results .container-search-and-favs .gifos {
    width: 160px;
    height: 120px;
    min-width: 160px;
    min-height: 120px;
  }
}

#central #div-mas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 112px;
}

.trending {
  position: relative;
  top: 170px;
  margin-top: 95px;
}

.trending .container {
  width: 100%;
  height: 640px;
  background-color: #f3f5f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.trending .container .info {
  text-align: center;
}

.trending .container .info h1 {
  font-size: 25px;
}

.trending .container .info #trending-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  position: relative;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  top: 7px;
}

@media screen and (max-width: 500px) {
  .trending .container .info #trending-p {
    display: block;
  }
}

.trending .container #slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.trending .container #slider #gifs {
  margin: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 29px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.trending .container #slider #gifs .square {
  width: 357px;
  height: 275px;
  background-color: #572ee5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trending .container #slider #gifs .square .gifos {
  position: relative;
  min-width: 357px;
  min-height: 275px;
  bottom: 32px;
  z-index: 10;
}

@media screen and (max-width: 1400px) {
  .trending .container #slider #gifs .square {
    width: 320px;
  }
  .trending .container #slider #gifs .square .gifos {
    min-width: 320px;
  }
}

@media screen and (max-width: 500px) {
  .trending .container #slider #gifs .square {
    width: 300px;
  }
  .trending .container #slider #gifs .square .gifos {
    min-width: 300px;
  }
}

@media screen and (max-width: 400px) {
  .trending .container #slider #gifs .square {
    width: 243px;
    height: 187px;
  }
  .trending .container #slider #gifs .square .gifos {
    min-width: 243px;
    min-height: 187px;
  }
}

.trending .container #slider #gifs .square:hover .gifos {
  z-index: 0;
  opacity: 0.4;
}

@media screen and (max-width: 550px) {
  .trending .container #slider #gifs .square:hover .gifos {
    z-index: 10;
    opacity: 1;
  }
}

@media screen and (max-width: 550px) {
  .trending .container #slider #gifs {
    gap: 19px;
    overflow-x: scroll;
  }
}

@media screen and (max-width: 550px) {
  .trending .container #slider {
    width: 100%;
  }
  .trending .container #slider #slide-left {
    display: none;
  }
  .trending .container #slider #slide-right {
    display: none;
  }
}

body.dark .trending .container {
  background-color: #222326;
}

body.dark .trending .container .info #trending-p {
  color: #ffffff;
}

footer .icons #icon-facebook:hover, footer .icons #icon-facebook-cg:hover {
  content: url("../assets/icon_facebook_hover.svg");
}

body.dark footer .icons #icon-facebook:hover, footer .icons body.dark #icon-facebook:hover, body.dark footer .icons #icon-facebook-cg:hover, footer .icons body.dark #icon-facebook-cg:hover {
  content: url("../assets/icon_facebook_noc.svg");
}

footer .icons #icon-twitter:hover, footer .icons #icon-twitter-cg:hover {
  content: url("../assets/icon-twitter-hover.svg");
}

body.dark footer .icons #icon-twitter:hover, footer .icons body.dark #icon-twitter:hover, body.dark footer .icons #icon-twitter-cg:hover, footer .icons body.dark #icon-twitter-cg:hover {
  content: url("../assets/icon_twitter_noc.svg");
}

footer .icons #icon-instagram:hover, footer .icons #icon-instagram-cg:hover {
  content: url("../assets/icon_instagram-hover.svg");
}

body.dark footer .icons #icon-instagram:hover, footer .icons body.dark #icon-instagram:hover, body.dark footer .icons #icon-instagram-cg:hover, footer .icons body.dark #icon-instagram-cg:hover {
  content: url("../assets/icon_instagram_noc.svg");
}

footer {
  position: relative;
  margin-top: 96px;
  top: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 116px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 13px;
  border-bottom: 5px solid #572ee5;
}

footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 19px;
}

footer .icons .a-icons {
  display: inherit;
  gap: inherit;
}

@media screen and (max-width: 500px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .icons {
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
  }
}

body.dark footer {
  color: #ffffff;
  border-bottom-color: #000000;
}

.crear-gifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 50px;
  right: 70px;
}

.crear-gifs #camera-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  bottom: 80px;
}

@media screen and (max-width: 1200px) {
  .crear-gifs #camera-div {
    position: relative;
    left: 70px;
  }
  .crear-gifs #camera-div img:first-child {
    width: 50%;
  }
  .crear-gifs #camera-div img:last-child {
    width: 30%;
  }
}

@media screen and (max-width: 850px) {
  .crear-gifs #camera-div {
    display: none;
  }
}

.crear-gifs #principal-gifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crear-gifs #principal-gifs #camera-central {
  width: 688px;
  height: 390px;
  border: 1px solid #572ee5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crear-gifs #principal-gifs #camera-central video {
  width: 480px;
  height: 320px;
  position: absolute;
}

@media screen and (max-width: 500px) {
  .crear-gifs #principal-gifs #camera-central video {
    width: 300px;
    height: 225px;
  }
}

.crear-gifs #principal-gifs #camera-central #subiendo-gifo {
  width: 429px;
  height: 320px;
  background-color: #572ee5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crear-gifs #principal-gifs #camera-central #subiendo-gifo > :first-child {
  width: 24px;
  height: 24px;
  z-index: 1;
}

.crear-gifs #principal-gifs #camera-central #subiendo-gifo p {
  font-weight: bold;
  font-size: 15px;
  color: #ffffff;
  z-index: 1;
}

.crear-gifs #principal-gifs #camera-central #subiendo-gifo > div {
  position: absolute;
}

@media screen and (max-width: 500px) {
  .crear-gifs #principal-gifs #camera-central #subiendo-gifo {
    width: 300px;
    height: 225px;
  }
}

.crear-gifs #principal-gifs #camera-central div h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  line-height: 35px;
}

.crear-gifs #principal-gifs #camera-central div h1 span > :last-child {
  color: #50e3c2;
}

.crear-gifs #principal-gifs #camera-central div p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  font-size: 16px;
  line-height: 29px;
}

@media screen and (max-width: 500px) {
  .crear-gifs #principal-gifs #camera-central div p {
    font-size: 13px;
  }
}

@media screen and (max-width: 1100px) {
  .crear-gifs #principal-gifs #camera-central {
    width: 530px;
  }
}

@media screen and (max-width: 850px) {
  .crear-gifs #principal-gifs #camera-central {
    width: 450px;
  }
}

@media screen and (max-width: 500px) {
  .crear-gifs #principal-gifs #camera-central {
    width: 300px;
    height: 300px;
  }
}

.crear-gifs #principal-gifs #camera-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 15px;
  position: relative;
  top: 30px;
  height: 120px;
}

.crear-gifs #principal-gifs #camera-elements #pasos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
          column-gap: 25px;
}

.crear-gifs #principal-gifs #camera-elements #pasos .steps {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #572ee5;
  border-radius: 30px;
}

.crear-gifs #principal-gifs #camera-elements #cronometro {
  position: absolute;
  right: 50px;
  top: 5px;
}

@media screen and (max-width: 650px) {
  .crear-gifs #principal-gifs #camera-elements #cronometro {
    bottom: 120px;
    right: unset;
    top: unset;
  }
}

.crear-gifs #principal-gifs #camera-elements #separator-misgifos {
  width: 795px;
  height: 7px;
  background-color: #572ee5;
  border-radius: 10px;
}

@media screen and (max-width: 1100px) {
  .crear-gifs #principal-gifs #camera-elements #separator-misgifos {
    width: 600px;
  }
}

@media screen and (max-width: 650px) {
  .crear-gifs #principal-gifs #camera-elements #separator-misgifos {
    width: 225px;
  }
}

.crear-gifs #principal-gifs #camera-elements > :last-child {
  position: absolute;
  left: 100%;
  bottom: 70px;
}

@media screen and (max-width: 1200px) {
  .crear-gifs #principal-gifs #camera-elements > :last-child {
    width: 100px;
  }
}

@media screen and (max-width: 850px) {
  .crear-gifs #principal-gifs #camera-elements > :last-child {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .crear-gifs {
    right: 0;
  }
}

body.dark .crear-gifs #camera-div :first-child {
  content: url("../assets/camara-modo-noc.svg");
}

body.dark .crear-gifs #principal-gifs #camera-central {
  border: 1px solid #ffffff;
}

body.dark .crear-gifs #principal-gifs #camera-central div p {
  color: #ffffff;
}

body.dark .crear-gifs #principal-gifs #camera-elements #pasos .steps {
  border: 1px solid #ffffff;
}

body.dark .crear-gifs #principal-gifs #camera-elements > :last-child {
  content: url("../assets/pelicula-modo-noc.svg");
}

body.dark .crear-gifs #principal-gifs #camera-elements #separator-misgifos {
  background-color: #ffffff;
}
/*# sourceMappingURL=style.css.map */